// Place all the styles related to the Markers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  border: 1px solid #333;
  height: 400px;
  width: 600px;
  padding: 25px;
}
.marker {
  margin-top: 10px;
  margin-left: 26px;
}